.menu {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    border-bottom: $menu-border-width solid $menu-border-color;
    // margin-bottom: 30px;
    box-shadow: $menu-box-shadow;

    .menu-item {
        padding: $menu-item-padding-y $menu-item-padding-x;
        cursor: pointer;
        transition: $menu-transition;

        &:hover,
        &:focus {
            text-decoration: none;
        }

        &.is-disabled {
            color: $menu-item-disabled-color;
            cursor: default;
            pointer-events: none;
        }

        &.is-active {
            color: $menu-item-active-color;
            border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
        }

        &:hover {
            color: $menu-item-active-color;
            // border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
        }
    }

}

.menu-vertical {
    flex-direction: column;

    border-right: $menu-border-width solid $menu-border-color;

    .menu-item {

        border-left: $menu-border-width solid transparent;

        &.is-active {
            border-bottom: 0;
            color: $menu-item-active-color;
            border-left: $menu-item-active-border-width solid $menu-item-active-color;
        }

        &:hover {
            // border-bottom: 0;
            color: $menu-item-active-color;
        }
    }
}

.submenu-item {
    position: relative;

    .sub-menu {
        display: none;
        position: absolute;

        .menu-item {
            width: 200px;
        }
    }

    .menu-open {
        display: block;
    }
}