// mixin函数
@mixin button-size($btn-padding-x, $btn-padding-y, $btn-font-size, $btn-border-radius) {
    // padding: $btn-padding-y, $btn-padding-x;
    padding: $btn-padding-y $btn-padding-x;
    font-size: $btn-font-size;
    border-radius: $btn-border-radius;
}

// btn-style
@mixin button-style($background, $border, $color, $hover-background: lighten($background, 8%), $hover-border:lighten($border, 10%), $hover-color: $color) {
    background-color: $background;
    border-color: $border;
    color: $color;

    &:hover {
        color: $hover-color;
        border-color: $hover-border;
        background: $hover-background;
    }

    &:focus,
    &.focus {
        color: $hover-color;
        border-color: $hover-border;
        background: $hover-background;
    }

    &[disabled],
    &.disabled {
        background-color: $background;
        border-color: $border;
        color: $color;
    }
}