// mixin函数
@mixin button-size($btn-padding-x, $btn-padding-y, $btn-font-size, $btn-border-radius) {
    // padding: $btn-padding-y, $btn-padding-x;
    padding: $btn-padding-y $btn-padding-x;
    font-size: $btn-font-size;
    border-radius: $btn-border-radius;
}

// btn-style
@mixin button-style($background, $border, $color, $hover-background: lighten($background, 8%), $hover-border:lighten($border, 10%), $hover-color: $color) {
    background-color: $background;
    border-color: $border;
    color: $color;

    &:hover {
        color: $hover-color;
        border-color: $hover-border;
        background: $hover-background;
    }

    &:focus,
    &.focus {
        color: $hover-color;
        border-color: $hover-border;
        background: $hover-background;
    }

    &[disabled],
    &.disabled {
        background-color: $background;
        border-color: $border;
        color: $color;
    }
}
// 动画
@mixin zoom-animation($direction: 'top', $scaleStart: scaleY(0), $scaleEnd: scaleY(1), $origin: center top) {

    .zoom-in-#{$direction}-enter {
        opacity: 0;
        transform: $scaleStart;
    }

    .zoom-in-#{$direction}-enter-active {
        opacity: 1;
        transform: $scaleEnd;
        transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
            opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
        transform-origin: $origin;
    }

    .zoom-in-#{$direction}-exit {
        opacity: 1;
    }

    .zoom-in-#{$direction}-exit-active {
        opacity: 0;
        transform: $scaleStart;
        transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
        transform-origin: $origin;
    }
}